# Dependencias de paquetes en backend y frontend
node_modules/
backend/node_modules/
frontend/node_modules/

# Variables de entorno con claves secretas
.env

# Archivos de compilación o distribución
dist/
build/